.page__home{
    margin-top: 100px;

    form{
        width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 8px;
        border-radius: 16px;
        min-height: 500px;

        input{
            height: 35px;
        }
    }
}