{% extends "layout.html" %}

{% block title %}home{% endblock %}

{% block content %}
    
    <form action="/login" method="post">
        <h2>Login</h2>
        <label for="email">email</label>
        <input type="email" name="email">
        
        <label for="password">Senha</label>
        <input type="text" name="password">
        
        <input type="hidden" name="token" value="{{ csrf }}">
        <input type="submit" value="enviar">
        
        {{ messages('logged') }}
    </form>

{% endblock %}